<div ng-controller="homeController">
    <header class="banner position-relative">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner__title--left position-absolute">
                        <h1 class="mb-2">Bộ sưu tập thời trang</h1>
                        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="shop.html">Xem cửa hàng sản phẩm ngay >></a>
                    </div>
                    <img src="assets/img/1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <div class="banner__title--right position-absolute">
                        <h1 class="mb-2">Xem sản phẩm mới nhất</h1>
                        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="shop.html">Xem cửa hàng sản phẩm ngay >></a>
                    </div>
                    <img src="assets/img/5.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
    <main class="container-fluid">
        <div class="text-center my-5 welcome">
            <strong>CHÀO MỪNG BẠN ĐẾN VỚI CỬA HÀNG BÉ YÊU</strong><br>
            <span>Tận hưởng chất lượng vượt trội trong tất cả các sản phẩm của chúng tôi</span>
        </div>
        <div class="row">
            <div class="col-lg-6 position-relative fs-5">
                <div class="position-absolute" style="top: 35%; right: 10%;">
                    <h2 class="fw-bolder">GIẢM GIÁ</h2>
                    <h3 class="fw-bold">LÊN ĐẾN 70%</h3>
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Nhấp
                        vào xem ngay >></a>
                </div>
                <img src="assets/img/banner-phu/discount.png" width="100%" alt="">
            </div>
            <div class="col-lg-3 position-relative">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 85%;">
                    <h5 class="fw-bold">NỔI BẬT MÙA HÈ</h5>
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Xem
                        sản phẩm nổi bật ngay >></a>
                </div>
                <img src="assets/img/banner-phu/dobo.png" width="100%" alt="">
            </div>
            <div class="col-lg-3 position-relative">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 15%;">
                    <h5 class="fw-bold">MẸ & BÉ GÁI</h5>
                </div>
                <img src="assets/img/banner-phu/mevabe.png" width="100%" alt="">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 90%;">
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Xem
                        sản phẩm của chúng tôi >></a>
                </div>
            </div>
            <div class="col-lg-3 position-relative">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 15%;">
                    <h5 class="fw-bold">TRANG PHỤC CHO BÉ</h5>
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Xem
                        trang phục của chúng tôi >></a>
                </div>
                <img src="assets/img/banner-phu/doembe.png" width="100%" alt="">
            </div>
            <div class="col-lg-3 position-relative">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 15%;">
                    <h5 class="fw-bold">VÁY TRẺ EM</h5>
                </div>
                <img src="assets/img/banner-phu/dress.png" width="100%" alt="">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 90%;">
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Xem
                        sản phẩm của chúng tôi >></a>
                </div>
            </div>
            <div class="col-lg-6 position-relative fs-4">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 20%;">
                    <h3 class="fw-bold">GIÀY CHO BÉ</h3>
                </div>
                <img src="assets/img/banner-phu/shoes.png" width="100%" alt="">
                <div class="text-center w-100 position-absolute translate-middle start-50" style="top: 80%;">
                    <a href="shop.html"
                        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Xem
                        các loại giày chúng tôi >></a>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-4 d-flex align-items-center justify-content-center gap-3 camket">
                <i class="fas fa-truck"></i>
                <div class="right">
                    <strong>MIỄN PHÍ GIAO HÀNG & HOÀN TRẢ</strong><br>
                    <span>Miễn phí vận chuyển cho hóa đơn từ 300k</span>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center gap-3 camket">
                <i class="fas fa-hand-holding-usd"></i>
                <div class="right">
                    <strong>ĐẢM BẢO HOÀN TRẢ TIỀN</strong><br>
                    <span>100% hoàn lại tiền</span>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center gap-3 camket">
                <i class="fas fa-headset"></i>
                <div class="right">
                    <strong>HỖ TRỢ TRỰC TIẾP 24/7</strong><br>
                    <span>Luôn luôn hỗ trợ khách hàng</span>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div ng-repeat="pro in products | limitTo:4" class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="position-relative">
                        <a href="#" class="add-cart position-absolute" data-bs-toggle="tooltip"
                            data-bs-placement="bottom"  ng-click="addProCart(pro.id)" data-bs-title="Thêm vào giỏ hàng">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <img src="assets/img/{{pro.AnhSP}}" class="card-img-top" height="220px">
                        <a href="#!product/{{pro.slug}}"
                            class="view position-absolute text-center p-2 w-100 link-dark link-offset-2 link-underline link-underline-opacity-0">
                            Xem chi tiết
                        </a>
                    </div>
                    <div class="card-body">
                        {{pro.TenSP}} <br>
                        <div ng-show="pro.GiaGiam" >
                            <strong class="old-price">{{pro.Gia | vndFormat}}</strong> <strong class="new-price">{{pro.GiaGiam | vndFormat}}</strong>
                        </div>
                        <div ng-show="!pro.GiaGiam" >
                            <strong class="new-price">{{pro.Gia | vndFormat}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-phu">
            <div class="row">
                <div class="col-lg-3 banner-1 p-0 position-relative">
                    <div class="banner-phu__title text-center w-100 position-absolute top-50 start-50 translate-middle">
                        <h1>BỘ SƯU TẬP TỐT NHẤT</h1>
                        <span>Chọn lọc từ các thương hiệu nổi tiếng</span>
                    </div>
                </div>
                <div class="col-lg-3 banner-2 p-0">
                    <img src="assets/img/cat-1.jpg" class="w-100">
                </div>
                <div class="col-lg-3 banner-3 p-0">
                    <img src="assets/img/cat-2.jpg" class="w-100">
                </div>
                <div class="col-lg-3 banner-4 p-0">
                    <img src="assets/img/cat-3.jpg" class="w-100">
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div ng-repeat="pro in products | orderBy: '-GiaGiam' | limitTo:4" class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="position-relative">
                        <a href="#" ng-click="addProCart(pro.id)" class="add-cart position-absolute" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" data-bs-title="Thêm vào giỏ hàng">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <img src="assets/img/{{pro.AnhSP}}" class="card-img-top" height="220px">
                        <a href="#!product/{{pro.slug}}"
                            class="view position-absolute text-center p-2 w-100 link-dark link-offset-2 link-underline link-underline-opacity-0">
                            Xem chi tiết
                        </a>
                    </div>
                    <div class="card-body">
                        {{pro.TenSP}} <br>
                        <div ng-show="pro.GiaGiam" >
                            <strong class="old-price">{{pro.Gia | vndFormat}}</strong> <strong class="new-price">{{pro.GiaGiam | vndFormat}}</strong>
                        </div>
                        <div ng-show="!pro.GiaGiam" >
                            <strong class="new-price">{{pro.Gia | vndFormat}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>